#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  height: auto;
  width:auto;
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}
main {
  margin: auto;
  color: black;
  margin: 1em;
  width: auto;
  height: auto;
  
}
body {
  background-color: rgb(110, 96, 96);
  border: solid black 1em;
  width: auto;
  height: auto;
  margin: auto;
  padding: 0.625rem;
}
h1 {
  text-align: center;
  color: black;
  border-style: dotted;
}
h2 {
  text-align: center;
  color: black;
}
h3 {
  text-align: flex-end;
  border-style: dashed;
  color: black;
}
footer {
  border: blue 5px;
  border-style: solid;
  margin: 1em;
  padding: 1em;
  display: flex;
  align-content: space-around;
  color: bisque;
}
header {
  border-style: solid;
  border-color: black;
  color: bisque;
}
.box-design{
    border: 2px solid black;
    background-color: whitesmoke;
    padding: .5em;
    margin: 1.5625rem;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around center;

    a:link{
        text-decoration: none;
        color: green;
    }
    a:visited{
        text-decoration: none;
        color: red;
    }
    a:hover{
        text-decoration: none;
        color: orangered;
        font-weight: bold;
    }
    a:active{
        text-decoration: none;
        font-weight: bold;
        color: red;
        background-color: black;
    }
}
.header-logo {
  width: auto;
  height: auto;
  padding: 0.1em 0.1em 0.1em 0.1em;
}
.navbar-design {
  border-style: dotted;
  width: auto;
  margin: 0.5em;
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  font-size: 1.4rem;
}
.soc-media-icons {
  border-style: dashed;
  border-color: blueviolet;
  font-size: 2.5em;
  align-content: space-around;
}
.comic-index {
  text-align: center;
  color: yellow;
}
.login-box {
  padding: 1.5625rem;
  margin: 0.9375rem;
  width: 10em;
  height: 10em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}
.comic-card{
    width: 25rem;
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    border: .5em solid green;
    margin: 0.625rem auto;
    color: var(--yellow);
    text-align: center;
    background-color: whitesmoke;
    text-transform: uppercase;
}
.comic-cover{
    width: 50em;
    height: auto;
    border-radius: 5em;
    border: 0.125rem solid white;
}
.comic-data{
    width: 50%;
    height: 500;
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    border: 0.5rem solid red;
    margin: 0 auto;
    text-align: left;
}
label {
  color: #fccf14;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    color: black;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    color: black;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    color: black;
  }
}

@media screen and (min-width: 1025px) {
  body {
    color: black;
  }
}

/* .read-the-docs {
  color: #888;
} */
